/* Open Props */
:where(html) {
  --gray-0: hsl(210, 17%, 98%);
  --gray-1: hsl(210, 17%, 95%);
  --gray-2: hsl(210, 16%, 93%);
  --gray-3: hsl(210, 14%, 89%);
  --gray-4: hsl(210, 14%, 83%);
  --gray-5: hsl(210, 11%, 71%);
  --gray-6: hsl(210, 7%, 56%);
  --gray-7: hsl(210, 9%, 31%);
  --gray-8: hsl(210, 10%, 23%);
  --gray-9: hsl(210, 11%, 15%);

  --shadow-color: 220 3% 15%;
  --shadow-strength: 1%;
  --shadow-2: 0 3px 5px -2px hsl(var(--shadow-color) /
          calc(var(--shadow-strength) + 3%)),
    0 7px 14px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%));
  --shadow-4: 0 -2px 5px 0 hsl(var(--shadow-color) /
          calc(var(--shadow-strength) + 2%)),
    0 1px 1px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
    0 2px 2px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
    0 5px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
    0 9px 9px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
    0 16px 16px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 6%));
  --shadow-5: 0 -1px 2px 0 hsl(var(--shadow-color) /
          calc(var(--shadow-strength) + 2%)),
    0 2px 1px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
    0 5px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
    0 10px 10px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
    0 20px 20px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
    0 40px 40px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%));
}

/* Color Theming */
html {
  --blue-1-hs: 191, 96%;
  --blue-2-hs: 191, 96%;
  --blue-1-l: 43%;
  --blue-2-l: 33%;

  --blue-1: hsl(var(--blue-1-hs), var(--blue-1-l));
  --blue-2: hsl(var(--blue-2-hs), var(--blue-2-l));

  --green: hsl(123, 29%, 65%);

  --red: #d8000c;
  --red-bg: rgba(255, 186, 186, 0.8);

  --color-init: #d2270c;
  --color-revisit: #19900c;
  --color-bonus: #cb990b;
  --color-init: #cb990b;

  /* light */
  --brand-light: var(--blue-1);
  --brand-hs-light: var(--blue-1-hs);
  --brand-l-light: var(--blue-1-l);
  --text1-light: var(--gray-8);
  --text2-light: var(--gray-7);
  --surface1-light: var(--gray-0);
  --surface2-light: var(--gray-1);
  --surface3-light: var(--gray-2);
  --surface-shadow-light: 220 3% 20%;
  --shadow-strength-light: 2%;

  /* dark */
  --brand-dark: var(--blue-2);
  --brand-hs-dark: var(--blue-2-hs);
  --brand-l-dark: var(--blue-2-l);
  --text1-dark: var(--gray-1);
  --text2-dark: var(--gray-3);
  --surface1-dark: var(--gray-7);
  --surface2-dark: var(--gray-8);
  --surface3-dark: var(--gray-9);
  --surface-shadow-dark: 220 3% 14%;
  --shadow-strength-dark: 80%;
}

:root {
  color-scheme: light;

  /* set defaults */
  --brand: var(--brand-light);
  --brand-hs: var(--brand-hs-light);
  --brand-l: var(--brand-l-light);
  --text1: var(--text1-light);
  --text2: var(--text2-light);
  --surface1: var(--surface1-light);
  --surface2: var(--surface2-light);
  --surface3: var(--surface3-light);
  --shadow-color: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);

  --spacing0: 0.2rem;
  --spacing1: 0.4rem;
  --spacing2: 0.6rem;
  --spacing3: 1rem;
  --spacing4: 1.4rem;
  --spacing5: 2rem;

  --max-padding: 10rem;
  --corner-roundness1: 0.25rem;
  --corner-roundness2: var(--spacing2);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --brand: var(--brand-dark);
    --brand-hs: var(--brand-hs-dark);
    --brand-l: var(--brand-l-dark);
    --text1: var(--text1-dark);
    --text2: var(--text2-dark);
    --surface1: var(--surface1-dark);
    --surface2: var(--surface2-dark);
    --surface3: var(--surface3-dark);
    --shadow-color: var(--surface-shadow-dark);
    --shadow-strength: var(--shadow-strength-dark);
  }
}

[color-scheme="light"] {
  color-scheme: light;

  --brand: var(--brand-light);
  --brand-hs: var(--brand-hs-light);
  --brand-l: var(--brand-l-light);
  --text1: var(--text1-light);
  --text2: var(--text2-light);
  --surface1: var(--surface1-light);
  --surface2: var(--surface2-light);
  --surface3: var(--surface3-light);
  --shadow-color: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
}

[color-scheme="dark"] {
  color-scheme: dark;

  --brand: var(--brand-dark);
  --brand-hs: var(--brand-hs-dark);
  --brand-l: var(--brand-l-dark);
  --text1: var(--text1-dark);
  --text2: var(--text2-dark);
  --surface1: var(--surface1-dark);
  --surface2: var(--surface2-dark);
  --surface3: var(--surface3-dark);
  --shadow-color: var(--surface-shadow-dark);
  --shadow-strength: var(--shadow-strength-dark);
}

/*
  CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Inputs */
input[type="checkbox"] {
  padding: var(--spacing1);
}

button {
  color: var(--text1);
  background-color: transparent;
  padding: var(--spacing2) var(--spacing3);
  border: 2px solid var(--brand);
  outline-color: var(--brand);
  border-radius: var(--corner-roundness1);
  font-weight: bold;
}

button:hover {
  background-color: hsl(var(--brand-hs), var(--brand-l), 40%);
}

button:active {
  background-color: hsl(var(--brand-hs), var(--brand-l), 80%);
  transform: translateY(0.1rem);
}

input[type="text"],
input[type="number"],
select {
  color: var(--text1);
  background-color: var(--surface3);
  padding: var(--spacing1) var(--spacing2);
  border: 2px solid var(--surface3);
  border-radius: var(--corner-roundness1);
}

[color-scheme="light"] input[type="text"],
[color-scheme="light"] input[type="number"],
[color-scheme="light"] select {
  border: 2px solid var(--gray-5);
}

select:active,
select:focus,
input[type="text"]:active,
input[type="text"]:focus,
input[type="text"]:focus-visible,
input[type="number"]:active,
input[type="number"]:focus,
input[type="number"]:focus-visible {
  outline-color: var(--brand);
  border-color: var(--brand);
}

/* Utility Classes */
.flow > * + * {
  margin-top: 1em;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column {
  flex-direction: column;
}

.hidden {
  display: none;
}

/* Header */
.pla-heading {
  font-size: 2rem;
  font-weight: 700;
}

.pla-heading-highlight {
  font-size: 2.15rem;
  font-weight: 800;
  background: -webkit-linear-gradient(var(--blue-1), var(--blue-2));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
